server:
  port: 8081

warehouse:
  id: ${WAREHOUSE_ID:wh-1}

udp:
  temperature-port: 3344
  humidity-port: 3355

sensor-data:
  topic: ${KAFKA_TOPIC_SENSOR_DATA:sensor-data}

spring:
  kafka:
    bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS:localhost:9092}
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
      properties:
        spring.json.add.type.headers: false

logging:
  level:
    com.sensordata: INFO
